*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(188, 247, 247);
}
.MainContainer {
    width: 95%;
    margin: auto;
    padding-top: 125px;
    display: flex;
    justify-content: center;
}
.PokedexContainer, .PokeDetails{
    flex-basis: 50%;
}

.PokemonContainer {
    border-radius: 1rem ;
    background-color: bisque;
    padding: 0 1.5rem;
    width: 300px;
    height: 150px;
    box-shadow: 0 5px 5px rgba(rgb(0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.PokedexContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
}

.PokemonCard {
    width: 125px;
    height: 125px;

}


.PokeDetails {
    width: 30%;
    text-align: center;
    color: black;
    position: fixed;
    top: 100px;
    right: -100px;
}

.PokeDetails img {
    margin: 2rem;
}

.PokeDetails h1 {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}

.AbilityContainer {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.AbilityContainer .Abilites {
    background-color: rgb(27, 214, 43);
    color: white;
    padding: 0.5rem;
    font-size: 13px;
    border-radius: 8px;
    margin: 2px;
}

.BaseStatContainer {
    margin-top: 1.5rem;
}

.button-group {
    display: flex;
}

.button-group button{
    outline: none;
    border: none;
    width: 175px;
    padding: 0.4rem 0;
    margin: 1rem;
    font-size: 18px;
    font-weight: bold;
    background-color: bisque;
    color: black;
    border-radius: 8px;

}