*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(182, 50, 50, 0.85);
}
.MainContainer {
    width: 100%;
    margin: auto;
    padding-top: 125px;
    display: flex;
    justify-content: center;
}
.PokedexContainer, .PokeDetails{
    flex-basis: 20%;
}

.PokemonContainer {
    border-radius: 1rem ;
    background-color: rgb(192, 233, 231);
    padding: 0 1.5rem;
    width: 500px;
    height: 200px;
    box-shadow: 7.5px 7.5px 7.5px rgba(13, 53, 58, 0.671);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.PokemonContainer h2 {
    text-transform: capitalize;
}

.PokemonSprite {
    position: relative;
    border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
}

.PokemonSprite::after{
    position: absolute;
    width: 42%;
    height: 10%;
    left: 29%;
    border-radius: 42%;
    z-index: -1;
    bottom: 16%;
    content: "";
    box-shadow: 0 50px 24px rgba(0, 0, 0, 0.521);
}

.PokedexContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    cursor: pointer;
    justify-items: center;
    font-size: 20px;
}

.PokemonCardImage {
    width: 60%;
    height: 100%;
}

.BackShadow {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal {
    width: 50vw;
    height: 100%;
    position: relative;
    z-index: 3;
    border-radius: 5px;
    top: -150px;
}

.close-btn button{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 15px;
    background-color: transparent;
    border: none;
    outline: none;
}

.spacing {
    height: 25px;
}

.PokeDetails {
    width: 40%;
    text-align: center;
    color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PokeDetails img {
    margin: 2rem;
    height: 200px;
}



.PokemonName h1{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 48px;
    padding-top: 20px;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.AbilityContainer {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.AbilityContainer .Abilites {
    width: 50%;
    background-color: rgb(27, 214, 43);
    color: white;
    padding: 0.5rem;
    font-size: 13px;
    border-radius: 8px;
    margin: 10px;
    text-transform: uppercase;
    box-shadow: 0 3px 3px rgb(20, 1, 1);
}

.BaseStatContainer {
    margin-top: 1.5rem;
    text-transform: capitalize;
    font-size: 24px;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-group button{
    outline: none;
    border: none;
    width: 175px;
    height: 50px;
    padding: 0.4rem 0;
    margin: 1rem;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(192, 233, 231);
    color: black;
    border-radius: 8px;

}

.TypesContainer h2{
    text-transform: uppercase;
    margin: 10px;
    width: 30%;
    box-shadow: 0 3px 3px rgb(10, 0, 0)

}

.TypesContainer {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin: 5px;
    padding: 5px;
}

.Weight {
    font-size: 24px;
}

.Header {
    background-color: black;
    color: white;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: fantasy;
    
}

.Footer {
    background-color: black;
    color: white;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}